* {
	scrollbar-width: thin !important;
	scrollbar-color: #666 transparent !important;
}

*::-webkit-scrollbar {
	width: 8px !important;
	height: 8px !important;
}

*::-webkit-scrollbar-thumb {
	background-color: #666 !important;
	border-radius: 6px !important;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #444 !important;
}

*::-webkit-scrollbar-track {
	background-color: transparent !important;
}
